input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search-md],
input[type=search],
textarea.md-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0;
  outline: none;
  height: 2.1rem;
  width: 100%;
  font-size: 1rem;
  box-shadow: none;
  box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
input[type=text]:disabled, input[type=text][readonly="readonly"],
input[type=password]:disabled,
input[type=password][readonly="readonly"],
input[type=email]:disabled,
input[type=email][readonly="readonly"],
input[type=url]:disabled,
input[type=url][readonly="readonly"],
input[type=time]:disabled,
input[type=time][readonly="readonly"],
input[type=date]:disabled,
input[type=date][readonly="readonly"],
input[type=datetime-local]:disabled,
input[type=datetime-local][readonly="readonly"],
input[type=tel]:disabled,
input[type=tel][readonly="readonly"],
input[type=number]:disabled,
input[type=number][readonly="readonly"],
input[type=search-md]:disabled,
input[type=search-md][readonly="readonly"],
input[type=search]:disabled,
input[type=search][readonly="readonly"],
textarea.md-textarea:disabled,
textarea.md-textarea[readonly="readonly"] {
  color: rgba(0, 0, 0, 0.46);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.46);
  background-color: transparent; }
input[type=text]:disabled + label, input[type=text][readonly="readonly"] + label,
input[type=password]:disabled + label,
input[type=password][readonly="readonly"] + label,
input[type=email]:disabled + label,
input[type=email][readonly="readonly"] + label,
input[type=url]:disabled + label,
input[type=url][readonly="readonly"] + label,
input[type=time]:disabled + label,
input[type=time][readonly="readonly"] + label,
input[type=date]:disabled + label,
input[type=date][readonly="readonly"] + label,
input[type=datetime-local]:disabled + label,
input[type=datetime-local][readonly="readonly"] + label,
input[type=tel]:disabled + label,
input[type=tel][readonly="readonly"] + label,
input[type=number]:disabled + label,
input[type=number][readonly="readonly"] + label,
input[type=search-md]:disabled + label,
input[type=search-md][readonly="readonly"] + label,
input[type=search]:disabled + label,
input[type=search][readonly="readonly"] + label,
textarea.md-textarea:disabled + label,
textarea.md-textarea[readonly="readonly"] + label {
  color: rgba(0, 0, 0, 0.46);
  background-color: transparent; }
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search-md]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #4285F4;
  box-shadow: 0 1px 0 0 #4285F4; }
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search-md]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.md-textarea:focus:not([readonly]) + label {
  color: #4285F4; }
input[type=text].valid, input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search-md].valid,
input[type=search-md]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.md-textarea.valid,
textarea.md-textarea:focus.valid {
  border-bottom: 1px solid #00C851;
  box-shadow: 0 1px 0 0 #00C851; }
input[type=text].valid + label:after, input[type=text]:focus.valid + label:after,
input[type=password].valid + label:after,
input[type=password]:focus.valid + label:after,
input[type=email].valid + label:after,
input[type=email]:focus.valid + label:after,
input[type=url].valid + label:after,
input[type=url]:focus.valid + label:after,
input[type=time].valid + label:after,
input[type=time]:focus.valid + label:after,
input[type=date].valid + label:after,
input[type=date]:focus.valid + label:after,
input[type=datetime-local].valid + label:after,
input[type=datetime-local]:focus.valid + label:after,
input[type=tel].valid + label:after,
input[type=tel]:focus.valid + label:after,
input[type=number].valid + label:after,
input[type=number]:focus.valid + label:after,
input[type=search-md].valid + label:after,
input[type=search-md]:focus.valid + label:after,
input[type=search].valid + label:after,
input[type=search]:focus.valid + label:after,
textarea.md-textarea.valid + label:after,
textarea.md-textarea:focus.valid + label:after {
  content: attr(data-success);
  color: #00C851;
  opacity: 1; }
input[type=text].invalid, input[type=text]:focus.invalid,
input[type=password].invalid,
input[type=password]:focus.invalid,
input[type=email].invalid,
input[type=email]:focus.invalid,
input[type=url].invalid,
input[type=url]:focus.invalid,
input[type=time].invalid,
input[type=time]:focus.invalid,
input[type=date].invalid,
input[type=date]:focus.invalid,
input[type=datetime-local].invalid,
input[type=datetime-local]:focus.invalid,
input[type=tel].invalid,
input[type=tel]:focus.invalid,
input[type=number].invalid,
input[type=number]:focus.invalid,
input[type=search-md].invalid,
input[type=search-md]:focus.invalid,
input[type=search].invalid,
input[type=search]:focus.invalid,
textarea.md-textarea.invalid,
textarea.md-textarea:focus.invalid {
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #F44336; }
input[type=text].invalid + label:after, input[type=text]:focus.invalid + label:after,
input[type=password].invalid + label:after,
input[type=password]:focus.invalid + label:after,
input[type=email].invalid + label:after,
input[type=email]:focus.invalid + label:after,
input[type=url].invalid + label:after,
input[type=url]:focus.invalid + label:after,
input[type=time].invalid + label:after,
input[type=time]:focus.invalid + label:after,
input[type=date].invalid + label:after,
input[type=date]:focus.invalid + label:after,
input[type=datetime-local].invalid + label:after,
input[type=datetime-local]:focus.invalid + label:after,
input[type=tel].invalid + label:after,
input[type=tel]:focus.invalid + label:after,
input[type=number].invalid + label:after,
input[type=number]:focus.invalid + label:after,
input[type=search-md].invalid + label:after,
input[type=search-md]:focus.invalid + label:after,
input[type=search].invalid + label:after,
input[type=search]:focus.invalid + label:after,
textarea.md-textarea.invalid + label:after,
textarea.md-textarea:focus.invalid + label:after {
  content: attr(data-error);
  color: #F44336;
  opacity: 1; }
input[type=text] + label:after,
input[type=password] + label:after,
input[type=email] + label:after,
input[type=url] + label:after,
input[type=time] + label:after,
input[type=date] + label:after,
input[type=datetime-local] + label:after,
input[type=tel] + label:after,
input[type=number] + label:after,
input[type=search-md] + label:after,
input[type=search] + label:after,
textarea.md-textarea + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 65px;
  opacity: 0;
  -webkit-transition: .2s opacity ease-out, .2s color ease-out;
  transition: .2s opacity ease-out, .2s color ease-out; }
input[type=text].input-alternate,
input[type=password].input-alternate,
input[type=email].input-alternate,
input[type=url].input-alternate,
input[type=time].input-alternate,
input[type=date].input-alternate,
input[type=datetime-local].input-alternate,
input[type=tel].input-alternate,
input[type=number].input-alternate,
input[type=search-md].input-alternate,
input[type=search].input-alternate,
textarea.md-textarea.input-alternate {
  padding: 0 15px;
  height: 2.1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  font-size: 0.875rem;
  border-bottom: 0;
  -webkit-transition: none !important;
  transition: none !important; }
input[type=text].input-alternate:hover, input[type=text].input-alternate:focus,
input[type=password].input-alternate:hover,
input[type=password].input-alternate:focus,
input[type=email].input-alternate:hover,
input[type=email].input-alternate:focus,
input[type=url].input-alternate:hover,
input[type=url].input-alternate:focus,
input[type=time].input-alternate:hover,
input[type=time].input-alternate:focus,
input[type=date].input-alternate:hover,
input[type=date].input-alternate:focus,
input[type=datetime-local].input-alternate:hover,
input[type=datetime-local].input-alternate:focus,
input[type=tel].input-alternate:hover,
input[type=tel].input-alternate:focus,
input[type=number].input-alternate:hover,
input[type=number].input-alternate:focus,
input[type=search-md].input-alternate:hover,
input[type=search-md].input-alternate:focus,
input[type=search].input-alternate:hover,
input[type=search].input-alternate:focus,
textarea.md-textarea.input-alternate:hover,
textarea.md-textarea.input-alternate:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08) !important;
  border-bottom: 0; }


.form-control {
  /*padding: 0;
  padding-bottom: 0.6rem;
  padding-top: 0.5rem;*/
  font-size: 1rem;
  line-height: 1.5;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  margin-top: 0.2rem;
  margin-bottom: 1rem; }
.form-control:focus {
  background: transparent!important;
  box-shadow: none!important; }
.form-control:disabled, .form-control[readonly] {
  background-color: transparent;
  border-bottom: 1px solid #bdbdbd; }

.md-form {
  position: relative;
  margin-bottom: 1.5rem; }
.md-form label {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #757575;
  position: absolute;
  top: 0.8rem;
  left: 0;
  font-size: 1rem;
  cursor: text; }
.md-form label.active {
  -webkit-transform: translateY(-140%);
  -ms-transform: translateY(-140%);
  transform: translateY(-140%);
  font-size: 0.8rem; }
.md-form .prefix {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  padding-top: .5rem; }
.md-form .prefix ~ input, .md-form .prefix ~ textarea, .md-form .prefix ~ select, .md-form .prefix ~ label, .md-form .prefix ~ div {
  margin-left: 3rem;
  width: 92%;
  width: -webkit-calc(100% - 3rem);
  width: calc(100% - 3rem); }
.md-form .prefix ~ label {
  margin-left: 3rem; }
.md-form .prefix.active {
  color: #4285F4; }
@media only screen and (max-width: 992px) {
  .md-form .prefix ~ input {
    width: 86%;
    width: -webkit-calc(100% - 3rem);
    width: calc(100% - 3rem); } }
@media only screen and (max-width: 600px) {
  .md-form .prefix ~ input {
    width: 80%;
    width: -webkit-calc(100% - 3rem);
    width: calc(100% - 3rem); } }
.md-form .btn {
  margin-bottom: 1.5rem; }
.md-form.form-sm input {
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  font-size: 0.8rem;
  line-height: 0.5; }
.md-form.form-sm label {
  font-size: 0.9rem; }
.md-form.form-sm .prefix {
  font-size: 1.5rem;
  top: 0.4rem; }
.md-form.form-sm .prefix ~ input, .md-form.form-sm .prefix ~ textarea, .md-form.form-sm .prefix ~ label {
  margin-left: 2.2rem; }
.md-form.input-group {
  padding-left: 1rem; }
.md-form.input-group::-webkit-input-placeholder {
  color: #999;
  padding-top: 2px; }
.md-form.input-group:-moz-placeholder {
  color: #999;
  padding-top: 2px; }
.md-form.input-group::-moz-placeholder {
  color: #999;
  padding-top: 2px; }
.md-form.input-group::-ms-placeholder {
  color: #999;
  padding-top: 2px; }
.md-form.input-group::-webkit-input-placeholder {
  color: #999;
  padding-top: 2px; }
.md-form.input-group::-moz-placeholder {
  color: #999;
  padding-top: 2px; }
.md-form.input-group:-ms-input-placeholder {
  color: #999;
  padding-top: 2px; }
.md-form.input-group::placeholder {
  color: #999;
  padding-top: 2px; }

.form-group {
  display: block; }

.form-inline fieldset {
  margin-right: 1.5rem; }

.form-inline .form-group {
  margin-right: 2rem; }



@media (min-width: 992px) {
  .mb-r {
    margin-bottom: 3rem !important; } }

@media (max-width: 992px) {
  .mb-r {
    margin-bottom: 2rem !important; } }



.view {
  overflow: hidden;
  position: relative;
  cursor: default; }
.view .mask {
  background-attachment: fixed; }
.view .mask,
.view .full-bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }
.view img, .view video {
  display: block;
  position: relative; }

.hm-zoom img,
.hm-zoom video,
.overlay img,
.overlay video {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.hm-zoom:hover .mask,
.overlay:hover .mask {
  opacity: 1; }

.hm-zoom:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.overlay .mask {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }


.hm-blue-slight .mask,
.hm-blue-slight .full-bg-img {
  background-color: rgba(3, 169, 244, 0.1); }

.hm-red-slight .mask,
.hm-red-slight .full-bg-img {
  background-color: rgba(244, 67, 54, 0.1); }

.hm-pink-slight .mask,
.hm-pink-slight .full-bg-img {
  background-color: rgba(233, 30, 99, 0.1); }

.hm-purple-slight .mask,
.hm-purple-slight .full-bg-img {
  background-color: rgba(156, 39, 176, 0.1); }

.hm-indigo-slight .mask,
.hm-indigo-slight .full-bg-img {
  background-color: rgba(63, 81, 181, 0.1); }

.hm-cyan-slight .mask,
.hm-cyan-slight .full-bg-img {
  background-color: rgba(0, 188, 212, 0.1); }

.hm-teal-slight .mask,
.hm-teal-slight .full-bg-img {
  background-color: rgba(0, 150, 136, 0.1); }

.hm-green-slight .mask,
.hm-green-slight .full-bg-img {
  background-color: rgba(76, 175, 80, 0.1); }

.hm-lime-slight .mask,
.hm-lime-slight .full-bg-img {
  background-color: rgba(205, 220, 57, 0.1); }

.hm-yellow-slight .mask,
.hm-yellow-slight .full-bg-img {
  background-color: rgba(255, 235, 59, 0.1); }

.hm-orange-slight .mask,
.hm-orange-slight .full-bg-img {
  background-color: rgba(255, 152, 0, 0.1); }

.hm-brown-slight .mask,
.hm-brown-slight .full-bg-img {
  background-color: rgba(121, 85, 72, 0.1); }

.hm-grey-slight .mask,
.hm-grey-slight .full-bg-img {
  background-color: rgba(158, 158, 158, 0.1); }

.hm-bluegrey-slight .mask,
.hm-bluegrey-slight .full-bg-img {
  background-color: rgba(96, 125, 139, 0.1); }

.hm-black-slight .mask,
.hm-black-slight .full-bg-img {
  background-color: rgba(0, 0, 0, 0.1); }

.hm-stylish-slight .mask,
.hm-stylish-slight .full-bg-img {
  background-color: rgba(62, 69, 81, 0.1); }

.hm-white-slight .mask,
.hm-white-slight .full-bg-img {
  background-color: rgba(255, 255, 255, 0.1); }

.hm-blue-light .mask,
.hm-blue-light .full-bg-img {
  background-color: rgba(3, 169, 244, 0.3); }

.hm-red-light .mask,
.hm-red-light .full-bg-img {
  background-color: rgba(244, 67, 54, 0.3); }

.hm-pink-light .mask,
.hm-pink-light .full-bg-img {
  background-color: rgba(233, 30, 99, 0.3); }

.hm-purple-light .mask,
.hm-purple-light .full-bg-img {
  background-color: rgba(156, 39, 176, 0.3); }

.hm-indigo-light .mask,
.hm-indigo-light .full-bg-img {
  background-color: rgba(63, 81, 181, 0.3); }

.hm-cyan-light .mask,
.hm-cyan-light .full-bg-img {
  background-color: rgba(0, 188, 212, 0.3); }

.hm-teal-light .mask,
.hm-teal-light .full-bg-img {
  background-color: rgba(0, 150, 136, 0.3); }

.hm-green-light .mask,
.hm-green-light .full-bg-img {
  background-color: rgba(76, 175, 80, 0.3); }

.hm-lime-light .mask,
.hm-lime-light .full-bg-img {
  background-color: rgba(205, 220, 57, 0.3); }

.hm-yellow-light .mask,
.hm-yellow-light .full-bg-img {
  background-color: rgba(255, 235, 59, 0.3); }

.hm-orange-light .mask,
.hm-orange-light .full-bg-img {
  background-color: rgba(255, 152, 0, 0.3); }

.hm-brown-light .mask,
.hm-brown-light .full-bg-img {
  background-color: rgba(121, 85, 72, 0.3); }

.hm-grey-light .mask,
.hm-grey-light .full-bg-img {
  background-color: rgba(158, 158, 158, 0.3); }

.hm-bluegrey-light .mask,
.hm-bluegrey-light .full-bg-img {
  background-color: rgba(96, 125, 139, 0.3); }

.hm-black-light .mask,
.hm-black-light .full-bg-img {
  background-color: rgba(0, 0, 0, 0.3); }

.hm-stylish-light .mask,
.hm-stylish-light .full-bg-img {
  background-color: rgba(62, 69, 81, 0.3); }

.hm-white-light .mask,
.hm-white-light .full-bg-img {
  background-color: rgba(255, 255, 255, 0.3); }

.hm-blue-strong .mask,
.hm-blue-strong .full-bg-img {
  background-color: rgba(3, 169, 244, 0.7); }

.hm-red-strong .mask,
.hm-red-strong .full-bg-img {
  background-color: rgba(244, 67, 54, 0.7); }

.hm-pink-strong .mask,
.hm-pink-strong .full-bg-img {
  background-color: rgba(233, 30, 99, 0.7); }

.hm-purple-strong .mask,
.hm-purple-strong .full-bg-img {
  background-color: rgba(156, 39, 176, 0.7); }

.hm-indigo-strong .mask,
.hm-indigo-strong .full-bg-img {
  background-color: rgba(63, 81, 181, 0.7); }

.hm-cyan-strong .mask,
.hm-cyan-strong .full-bg-img {
  background-color: rgba(0, 188, 212, 0.7); }

.hm-teal-strong .mask,
.hm-teal-strong .full-bg-img {
  background-color: rgba(0, 150, 136, 0.7); }

.hm-green-strong .mask,
.hm-green-strong .full-bg-img {
  background-color: rgba(76, 175, 80, 0.7); }

.hm-lime-strong .mask,
.hm-lime-strong .full-bg-img {
  background-color: rgba(205, 220, 57, 0.7); }

.hm-yellow-strong .mask,
.hm-yellow-strong .full-bg-img {
  background-color: rgba(255, 235, 59, 0.7); }

.hm-orange-strong .mask,
.hm-orange-strong .full-bg-img {
  background-color: rgba(255, 152, 0, 0.7); }

.hm-brown-strong .mask,
.hm-brown-strong .full-bg-img {
  background-color: rgba(121, 85, 72, 0.7); }

.hm-grey-strong .mask,
.hm-grey-strong .full-bg-img {
  background-color: rgba(158, 158, 158, 0.7); }

.hm-bluegrey-strong .mask,
.hm-bluegrey-strong .full-bg-img {
  background-color: rgba(96, 125, 139, 0.7); }

.hm-black-strong .mask,
.hm-black-strong .full-bg-img {
  background-color: rgba(0, 0, 0, 0.7); }

.hm-stylish-strong .mask,
.hm-stylish-strong .full-bg-img {
  background-color: rgba(62, 69, 81, 0.7); }

.hm-white-strong .mask,
.hm-white-strong .full-bg-img {
  background-color: rgba(255, 255, 255, 0.7); }


.flex-center {
  /*display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;*/
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }
/*.flex-center p {
  margin: 0; }*/
.flex-center ul {
  text-align: center; }
.flex-center ul li {
  margin-bottom: 1rem; }

.white-text {
  color: #FFFFFF !important; }


.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.z-depth-1-half {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

.hoverable {
  -webkit-transition: box-shadow 0.55s;
  transition: box-shadow 0.55s;
  box-shadow: 0; }
.hoverable:hover {
  -webkit-transition: box-shadow 0.45s;
  transition: box-shadow 0.45s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
